{% extends 'base.html' %}

{% block main %}

    {% for cake in wishlist.all %}

<section class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-center text-primary mb-4"><i class="fa-solid fa-shopping-cart"></i>Cart</h3>

          <div class="row g-4">

            {% for cake in wishlist.cake.all %}
            
            <!-- Wishlist Item 1 -->
            <div class="col-12">
              <div class="card shadow-sm mb-3">
                <div class="row g-0 align-items-center">
                  
                  <!-- Image -->
                  <div class="col-md-4">
                    <img style="width: 200px; height: 250px; object-fit: fill;" src="{{ cake.photo.url }}" 
                         class="rounded-start" alt="Raspberry Cake">
                  </div>

                  <!-- Details -->
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ cake.name }}</h5>
                      <p class="card-text text-muted small">
                        {{ cake.description }}
                      </p>
                      <p class="fw-bold" style="color: green;">₹ {{ cake.price }}</p>

                      <p class="fw-bold">{{ cake.weight }}</p>

                      <div class="d-flex gap-2">
                        <button class="btn btn-sm btn-primary">🛒 Add to Cart</button>
                        <a href="{% url 'remove-from-wishlist' cake.uuid %}?req=wishlist" class="btn btn-sm btn-outline-danger">❌ Remove</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            {% endfor %}

          </div> <!-- row -->
        </div>
      </div>
    </div>
  </div>
</section>

    {% endfor %}

{% endblock %}